<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h3>Usuarios</h3>
                    <div class="alert alert-info"
                        *ngIf="usuarios.length === 0">
                        <p class="mb-0"> No hay usuaros con ese termino </p>
                    </div>
                    <div class="table-responsive"
                        *ngIf="usuarios.length >= 1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios"
                                    class="animated fadeIn fast">
                                    <td>
                                        <img [src]="usuario.img || '' | imagen: 'usuarios' " class="w100"/>
                                    </td>
                                    <td> {{ usuario.nombre }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h3>Médicos</h3>
                    <div class="alert alert-info"
                        *ngIf="medicos.length === 0">
                        <p class="mb-0"> No hay médicos con ese termino </p>
                    </div>
                    <div class="table-responsive"
                        *ngIf="medicos.length >= 1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let medico of medicos"
                                    class="animated fadeIn fast">
                                    <td>
                                        <img [src]="medico.img || '' | imagen: 'medicos'" class="w100"/>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/dashboard/medico', medico._id]"></a>
                                        {{ medico.nombre }} 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h3>Hospitales</h3>
                    <div class="alert alert-info">
                        <p class="mb-0"> No hay hospitales con ese termino </p>
                    </div>
                    <div class="talbe-responsive">

                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales"
                                class="animated fadeIn fast">
                                <td>
                                    <img [src]="hospital.img || '' | imagen: 'hospitales' " class="w100"/>
                                </td>
                                <td> {{ hospital.nombre }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
